:root {
    --space-m: 12px;
    --space-xm: 15px;
    --space-l: 24px;
    --space-s: 8px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #dee2e6;
    --color-primary: rgb(18, 18, 241);
    --color-white: #fff;
    --border-radius-d: 12px;
    --border-radius-s: 4px;
    --color-title: #5A5A5A;
    --color-text: #343a40;
    --color-text2: #212529;
    --space-b: 36px;
    --weight-title: 600;
    --weight-text: 400;
    --page-width: 1000px;
}

/* ========================= */
.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: var(--page-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
/* ========================== */
.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius-d) /2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}
.nav_inline {
    gap: var(--space-l);
}
.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}
.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);

    display: block;

    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}
.main {
    display: flex;
    width: 100%;
    gap: var(--space-l)
}

.expirience {
    display: flex;
    flex-direction: column;
    width: 1000px;
    border: 1px solid #F8F9FA;
    background-color: #F8F9FA;
    border-radius: var(--border-radius-s);
    position: relative;
}
.experience_title {
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    color: var(--color-text2);
    padding-left: 28px;
    margin-top: var(--space-l);
}
.experience_button {
    border: 1px solid #FF7347;
    background-color: #FF7347;
    border-radius: 70px;
    color: var(--color-white);
    padding: var(--space-m);
    width: 90px;
    height: 53px;
    position: absolute;
    top: -22px;
    right: -28px;
    transform: rotate(30deg);
    font-size: var(--size-b);
    font-weight: 700;
}
.exp_content {
    display: flex;
}
.exp_content-box {
    width: 100%;
    color: #fff;
    background-color: var(--color-text2);
    padding: var(--space-l);
    gap: var(--space-l);
    border: 1px solid #E4EAF2;
    border-radius: var(--border-radius-d);
}
.expirience > div {
    display: flex;
    flex-direction: block;
    padding: var(--space-l);
    gap: var(--space-l);
    width: fit-content;
}
.exp_content-box > strong {
    color: #F8F9FA;
    font-weight: var(--weight-title);
    font-size: 18px;
}
.exp_content-box > p {
    color: #F8F9FA;
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    line-height: 150%;
    padding-top: var(--space-s);
    font-family: "Inter", sans-serif;
} 

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info_title {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-text2);
    padding-bottom: var(--space-l);
}
.info_description {
    font-size: var(--size-b);
    color: var(--color-text2);
}
.form {
    max-width: 390px;
    width: 100%;
    background-color: #DEE2E6;
    border-radius: var(--border-radius-s);
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_title {
    text-align: center;
    font-size: var(--size-b);
    font-weight: var(--weight-text);
    color: var(--color-title);
}
.form_info {
    text-align: center;
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: #6C757D;
}
.form_button {
    text-align: center;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-s);
    transition: opacity 0.7s;
}
.form_hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-title);
    opacity: 0.25;
}
.form_button:hover {
    opacity: 0.7;
}
.form_button:active {
    opacity: 0.3;
}

.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
}
.form_input {
    padding: var(--space-xm);
    background-color: var(--color-white);
    border: 1px solid #CED4DA;
    border-radius: var(--border-radius-s);
}
.form_input::placeholder {
    color: var(--color-title);
    font-size: var(--size-d);
}
.form_checkbox {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}
.form_checkbox > input {
    display: none;
}
.form_checkbox > input ~ div {
    border: 1px solid #767676;
    background-color: var(--color-white);
    border-radius: var(--border-radius-s);
    height: 13px;
    width: 13px;
}
.form_checkbox > input:checked ~ div {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}
.form_checkbox > label {
    color: var(--color-title);
    font-size: var(--size-d);
    cursor: pointer;
}
.updates {
    max-width: 1000px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-s);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    padding: var(--space-l);

    display: flex;
    flex-direction: column;
    
}
.updates_title {
    font-size: var(--size-b);
    font-weight: var(--weight-text);
    color: var(--color-text2);
    border-bottom: 1px solid var(--color-border);
    padding: var(--space-m);
}
.list {
    display: flex;
    padding: var(--space-m);
}
.list:nth-of-type(1) .list_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #007BFF;
    font-size: 12px;
}
  
.list:nth-of-type(2) .list_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #E83E8C;
    font-size: 12px;
}
.list:nth-of-type(3) .list_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #6F42C1;
    font-size: 12px;
}

.list_nickname {
    font-size: 12px;
    color: #6C757D;
    font-weight: 700;
    line-height: 16px;
    padding: 6px;
}
.list_nickname > .list_border {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    width: 32px;
    height: 32px;
}
.list_description {
    font-size: var(--size-d);
    color: #6C757D;
    font-weight: var(--weight-text);
    line-height: 16px;
    padding: 6px;
    border-bottom: 1px solid var(--color-border);
}

.updates_link {
    color: var(--color-primary);
    font-size: var(--size-s);
    align-self: flex-start;
    text-decoration: none;
    transition-duration: 0.7s;
    transition-property: opacity border-color;
    border-bottom: 1px solid transparent;
    margin-top: var(--space-l);
}
.updates_link:hover {
    opacity: 0.7;
    border-color: var(--color-primary);
}